## EDA

Goals: 
- Identify patterns and develop hypotheses.
- Test technical assumptions. Inform model selection and feature engineering.
- Build an intuition for the data.

In [2]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale

### Form hypotheses/develop investigation themes to explore
Quantify:
Location: mean, median, mode, interquartile mean Spread: standard deviation, variance, range,
interquartile range
Shape: skewness, kurtosis
For time series, plot summary statistics over time.
For panel data:
Plot cross-sectional summary statistics over time Plot time-series statistics across the
population
Questions to consider when working on Step 1
What does each field in the data look like?
Is the distribution skewed? Bimodal? Are there outliers? Are they feasible? Are there
discontinuities? Are the typical assumptions seen in modeling valid?
Gaussian
Identically and independently distributed
Have one mode
Can be negative
Generating processes are stationary and isotropic (time series)
Independence between subjects (panel data)

In [13]:
data = pd.read_csv('data/merged_data.csv')
data.describe()

              Year   Consumption            Pop       Price   Employment
count    55.000000     55.000000      55.000000   55.000000    55.000000
mean   2013.000000   7512.109091  315962.023727   96.335650  2026.415182
std       3.191424   6550.299319    7507.300998    4.593336   105.964831
min    2008.000000    142.000000  303486.012000   89.511370  1888.286000
25%    2010.000000    282.000000  309011.475000   90.440451  1943.790000
50%    2013.000000   8552.000000  316400.538000   97.295312  1978.892000
75%    2016.000000  12113.500000  323015.995000  100.000005  2138.618000
max    2018.000000  18525.000000  327096.265000  102.434209  2188.215000

Our consumption standard dev looks awfully high! We know from the data wrangling portion that the values for consumption by *meat item* vary greatly depending on the type (i.e. bovine vs goat). 
Our population std is also very high which means something might be amiss in our data. Let's explore it to see what's going on.

### Wrangle data

In [24]:
data['Pop'].mean()

315962.0237272727

In [26]:
data['Pop'].max() - data['Pop'].min()

23610.253000000026

This std might actually make sense given the scale of our population data.

Let's come back to our consumption information. Knowing the overall statistics is useful, but it will also skew our data. What can we do?
- Look at each item independently
- Scale the min and max?

In [32]:
bovine = data[data.Item=='Bovine Meat'].Consumption

### Assess the quality of data

### Profile data

### Explore each individual variable in the dataset

### Assess the relationship between each variable and the target

### Assess interactions between variables

### Explore data across many dimensions